# python
.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.venv/
.env
.envrc
.env.*

# ide
.vscode/
.idea/

# Db
.DS_Store
*.db
*.sqlite

# Alembic cache
alembic/__pycache__/
alembic/*.pyc
